@import '../../../bower_components/basscss/css/basscss.min.css';

body {
  background: #FAFAFA;
}

.header {
  width: 100%;
  height: 3rem;
  background: #CCC;
  margin: 0;
  padding: 0 .5rem;
}

.header__title {
  font-size: 1.5rem;
  line-height: 3rem;
}

.locations {
    margin: 3rem;
}

.location {
  background: #AB7C83;
  list-style-type: none;
}

.man {
  margin: 0;
}

.pan {
  padding: 0;
}
